@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html {
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    max-width: 500px;
    padding: 10px;
}

.links a {
    text-decoration: none;
    padding-right: 5px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    filter: invert();
}

.links a:hover {
    opacity: 1;
}

a {
    color: #2E86C1;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #1F618D;
}
